.footer {
    background-color: #06919a;
    display: flex;
}

.social-media .icon {
    height: 40px;
    width: 40px;
    background-color: #14213d;
    color: #fff;
    margin: 10px 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin: 15px;

    &:hover {
        background-color: #fff;
        color: #06919a;
        transition: 0.8s;
    }
}


#scrollspy-footer .bi {
    color: var(--primario);
    margin: 10px 10px;

    &:hover {
        color: var(--amarillo);
    }
}

/* COPYRIGHT- REVISADO */

.copyright {
    background-color: #06919a;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    border-top: 1px solid #FFF;
    color: #FFF;

    span {
        color: #FCA311;
        font-weight: bold;
    }
}