.container-home h1 span {
    color: var(--amarillo);
  }
  
  .container-home h4 {
    color: var(--cyan);
  }
  
  .btn-home {
    display: inline-block;
    padding: 10px;
    width: 200px;
    border: 3px solid #14213d;
    background-color: #14213d;
    color: #FFF;
    border-radius: 30px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-home:hover {
    /* text-decoration: none; */
    border: 3px solid #FCA311;
    background-color: #FCA311;
    color: #Fff;
  }
  