@import "breakpoints";

.container-home {

    h1 {
        span {
            color: var(--amarillo);
        }
    }

    p {
        span {
            color: var(--cyan);
            font-weight: bold;
            font-size: 15px;
        }
    }

    h4 {
        color: var(--cyan);
    }

    .typewriter {
        h1 {
            @include responsive (tablet) {
                font-size: 8px;
            }
        }

        p {
            @include responsive (tablet) {
                font-size: 2px;
            }
        }
    }
}