@import "breakpoints";


.container-home {
    margin-top: 70px;

    .text-top {
        padding-top: 20px;

        h1 {
            span {
                color: var(--amarillo);
            }
        }

        p {
            span {
                color: var(--cyan);
                font-weight: bold;
                font-size: 15px;
            }
        }

        h4 {
            color: var(--cyan);
        }
    }
}